
<header class="ius-header bg-white">
    <div class="hcol hcol-logo">
        <a href="./" title="Inurskin"><img src="~/assets/inurskin-logo.svg" width="112" height="41" alt="Inurskin Logo"></a>
    </div>
    <div class="hcol hcol-pa text-bd text-12">
        <div class="pa-row">
        </div>
    </div>
    <div class="hcol hcol-usr text-bd text-12 dropdown">
       
    </div>
</header>