@media screen and (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: calc(1560px + 30px); }
    .login-box p {
        font-size: 16px;
        margin-bottom: 13px;
        /* margin-bottom: 35px; */
    }

    .login-form .form-control {
        font-size: 16px !important;
        height: 40px !important;
        width: 370px !important;
        line-height: 48px !important;
        padding: 0 15px !important;
        background-color: white !important;
    }

    div#sendopt1 {
        width: 370px !important;
    }

    .otp-inps {
        width: 370px !important;
    }

    input#submitbutton {
        width: 370px !important;
    }

    div#sendopt12 {
        margin-right: 100px !important;
    }

    .login-box {
        margin-left: 50px !important;
    }

}
/*MIN 1280 ENDS*/
@media (min-width: 1024px) {
    .login-form .form-control-input {
        font-size: 16px !important;
        height: 40px !important;
        width: 370px !important;
        line-height: 48px !important;
        padding: 0 15px !important;
        border-color: #C1C8D0 !important;
        background-color: var(--lightgray) !important;
    }

    div#sendopt1 {
        width: 370px !important;
    }

    .otp-inps {
        width: 370px !important;
    }

    input#submitbutton {
        width: 370px !important;
    }

    div#sendopt12 {
        /* margin-right: 150px; */
        margin-right: 100px !important;
    }


    .login-box {
        margin-left: 50px !important;
    }
}

@media screen and (max-width: 1280px) {
    .page-login { --leftPer: 55%; }
    .login-box p {
        font-size: 16px;
        margin-bottom: 13px;
        /* margin-bottom: 35px; */
    }
    .login-form .form-control {
        font-size: 16px !important;
        height: 40px !important;
        width: 370px !important;
        line-height: 48px !important;
        padding: 0 15px !important;
        border-color: #C1C8D0 !important;
        background-color: var(--lightgray) !important;
    }

    div#sendopt1 {
        width: 370px !important;
    }

    .otp-inps {
        width: 370px !important;
    }

    input#submitbutton {
        width: 370px !important;
    }

    div#sendopt12 {
        /* margin-right: 150px; */
        margin-right: 100px !important;
    }


    .login-box {
        margin-left: 50px !important;
    }


}

@media screen and (max-width: 1199px) {
    .page-login { --leftPer: 50%; }
    .login-box { padding: 30px; }
        .login-box p {
            font-size: 16px;
            margin-bottom: 13px;
            /* margin-bottom: 35px; */
        }
    .login-form .form-control {
        font-size: 16px !important;
        height: 40px !important;
        width: 370px !important;
        line-height: 48px !important;
        padding: 0 15px !important;
        border-color: #C1C8D0 !important;
        background-color: var(--lightgray) !important;
    }

    div#sendopt1 {
        width: 370px !important;
    }

    .otp-inps {
        width: 370px !important;
    }

    input#submitbutton {
        width: 370px !important;
    }

    div#sendopt12 {
        /* margin-right: 150px; */
        margin-right: 100px !important;
    }


    .login-box {
        margin-left: 50px !important;
    }

}

@media screen and (max-width: 767px) {
    .hcol-pa { padding-right: 15px; margin-right: 15px; }
    .ius-block-head { flex-wrap: nowrap; margin-bottom: 20px; }
    .ius-block-head h2 { flex: 1 0 auto; width: auto; margin-bottom: 10px; }

    .page-login {
        position: relative;
    }
    .login-lt {
        width: 100%;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    
    .login-rt {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.84);
        z-index: 1;
    }
    .d-none {
        display: none !important;
    }

    .hcol-usr .dropdown-toggle {
        flex-direction: row-reverse;
        text-align: right;
    }
    .login-box {
        width: 480px;
        margin: 0 auto;
        flex: 0 0 480px;
        padding: 50px 30px;
    }

    .login-box-head { text-align: center; }
}


/*767*/

@media screen and (max-width: 575px) {
    h1, .h1 { font-size: 20px; line-height: 30em; }
    h2, .h2 { font-size: 18px; line-height: 28px; }
    h3, .h3 { font-size: 16px; line-height: 26px; }

    .ius-form .form-label { margin-bottom: 4px; }

    .ius-header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 9px 0 0;
        gap: 9px;
    }
    .d-none {
        display: none !important;
    }

    .hcol-usr .dropdown-toggle {
        flex-direction: row-reverse !important;
        text-align: right !important;
    }

    .hcol-pa {
        flex: 1 0 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        order: 1;
    }

    .hcol-usr { padding: 0; padding-right: 16px; background: none; }

    .hcol-logo { padding-left: 16px;}

    .pa-row {
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
        border-top: 1px solid var(--formfieldborder);
    }
}
/*575*/

@media screen and (max-width: 459px) {
    .bttn {
        min-width: 90px;
        padding: 0 15px;
        margin-bottom: 20px !important;
    }
    .d-none {
        display: none !important;
    }

    .hcol-usr .dropdown-toggle {
        flex-direction: row-reverse !important;
        text-align: right !important;
    }
    .full-screen-schedule {
        height: 100vh; /* Full Screen */
        width: 100vw;
    }
    .form-actions { gap: 10px; justify-content: center; }
}
/* Mobile ke liye responsive layout */
@media (max-width: 768px) {

    .d-none {
        display: none !important;
    }

    .hcol-usr .dropdown-toggle {
        flex-direction: row-reverse !important;
        text-align: right !important;
    }
    .full-screen-schedule {
        height: 100vh; /* Full Screen */
        width: 100vw;
    }
}

/*459*/

@media screen and (max-width: 380px) {
    .ius-gridrow { padding: 12px; }
    .ius-appbody { padding-bottom: 12px; margin-bottom: 12px; }
 

    .full-screen-schedule {
        height: 100vh; /* Full Screen */
        width: 100vw;
    }
}
/*380*/